/* src/components/Clients/Clients.css */
.clients {
    padding: 20px;
    background-color: var(--background-main);
    color: var(--text-main);
  }
  
  .clients h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .clients p {
    font-size: 1rem;
  }
  