/* SearchBar.css */
.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
}

.search-input-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--text-primary-footer);
  width: 100%;
  max-width: 500px;
}

.search-input {
  width: 100%;
  border: none;
  padding: 0.5rem;
  background: none;
  outline: none;
  font-family: var(--font-main);
  font-size: 1rem;
  color: var(--text-primary-footer);
}

.search-input::placeholder {
  color: var(--text-primary-footer);
}

.search-submit-icon {
  padding: 0 10px;
  color: var(--text-primary-footer);
}

.search-submit-icon:hover {
  color: var(--link-hover);
}

.MuiIconButton-root {
  color: var(--text-primary-footer) !important;
}

.MuiSvgIcon-root {
  color: var(--text-primary-footer) !important;
}
