/* Header.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-header {
  background-color: var(--background-top-header);
  color: var(--text-primary-footer);
  padding: 0.5rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-navigation {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.top-nav-list {
  list-style: none;
  display: flex;
}

.top-nav-item {
  margin-left: 1rem;
}

.top-nav-link {
  color: var(--text-primary-footer);
  text-decoration: none;
  font-size: 0.875rem;
  text-transform: capitalize;
  transition: color 0.3s ease;
}

.top-nav-link:hover,
.top-nav-item.active .top-nav-link {
  color: var(--link-hover);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px; /* Altura fixa para o header */
  transition: height 0.3s ease; /* Adicionado para transição suave */
}

.site-header {
  background-color: var(--background-header-footer);
  color: var(--text-primary-footer);
  display: flex;
  flex-direction: column; /* Permite a expansão para baixo */
  align-items: center;
  width: 100%;
  padding: 0 15px; /* Ajustar padding */
  position: sticky; /* Torna o header "sticky" */
  top: 0; /* Fixa o header no topo da página */
  z-index: 1000; /* Garante que o header fique sobre outros elementos */
}

.site-header.header-expanded .header-content {
  height: 80px; /* Mantém a altura do logo e do menu */
}

.site-header.header-expanded .search-bar-container {
  display: flex; /* Mostra a barra de pesquisa */
}

.logo img {
  max-height: 90px; /* Ajuste o tamanho do logo */
}

.main-navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 1rem;
  position: relative;
}

.nav-link {
  color: var(--text-primary-footer);
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.nav-link:hover,
.nav-item.active .nav-link {
  color: var(--link-hover);
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--dropdown-background);
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
  min-width: 200px;
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  margin: 0;
}

.dropdown-link {
  color: var(--dropdown-text);
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-link:hover {
  background-color: var(--link-hover);
  color: var(--background-header-footer);
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.search-icon {
  font-size: 1.2rem;
  background: none;
  border: none;
  color: var(--text-primary-footer);
  cursor: pointer;
  transition: color 0.3s ease;
}

.search-icon:hover {
  color: var(--link-hover);
}

.search-bar-container {
  display: none; /* Esconde a barra de pesquisa por padrão */
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0; /* Aumentado o padding para dar mais espaço */
}

.mobile-menu-toggle {
  display: none;
  background: none;
  border: none;
  color: var(--text-primary-footer);
  cursor: pointer;
}

.mobile-menu-icon {
  display: block;
  width: 1.5rem;
  height: 0.2rem;
  background-color: var(--text-primary-footer);
  position: relative;
}

.mobile-menu-icon::before,
.mobile-menu-icon::after {
  content: '';
  display: block;
  width: 1.5rem;
  height: 0.2rem;
  background-color: var(--text-primary-footer);
  position: absolute;
  left: 0;
}

.mobile-menu-icon::before {
  top: -0.5rem;
}

.mobile-menu-icon::after {
  top: 0.5rem;
}

.header-expanded .header-content {
  height: 80px; /* Mantém a altura do logo e do menu */
}

@media (max-width: 768px) {
  .main-navigation {
    display: none;
  }

  .mobile-menu-toggle {
    display: block;
  }
}
