/* src/components/Header/Header.css */
.top-header {
  background-color: var(--background-top-header); /* Nova cor do top header */
  color: var(--text-main);
  padding: 0.5rem 0;
}

.top-navigation {
  display: flex;
  justify-content: flex-end; /* Alinhar à direita */
}

.top-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.top-nav-item {
  margin-left: 1.5rem; /* Ajustar espaço entre os itens */
}

.top-nav-link {
  color: var(--text-main);
  text-decoration: none;
  font-size: 0.875rem;
  transition: color 0.3s ease;
}

.top-nav-link:hover,
.top-nav-item.active .top-nav-link {
  color: var(--link-main);
}

.site-header {
  background-color: var(--background-header-footer);
  color: var(--text-main);
  padding: 0 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Alinhar itens ao centro */
  align-items: center;
  position: relative;
  transition: height 0.3s ease;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo-img {
  max-height: 80px; /* Ajustar conforme necessário */
}

.main-navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Alinhar o menu à direita */
  flex: 1;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 1rem; /* Ajustar espaço entre os itens */
  position: relative;
}

.nav-link {
  color: var(--text-main);
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.nav-link:hover,
.nav-item.active .nav-link {
  color: var(--link-main);
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--dropdown-background);
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
  min-width: 200px;
  border-radius: 0.25rem;
}

.dropdown-item {
  margin: 0;
}

.dropdown-link {
  color: var(--dropdown-text);
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
  white-space: nowrap; /* Prevent line breaks */
  transition: color 0.3s ease;
}

.dropdown-link:hover {
  color: var(--link-main); /* Change text color on hover */
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.search-icon {
  font-size: 1.2rem;
  background: none;
  border: none;
  color: var(--text-main);
  cursor: pointer;
  transition: color 0.3s ease;
}

.search-icon:hover {
  color: var(--link-hover);
}

.mobile-menu-toggle {
  display: none;
  background: none;
  border: none;
  color: var(--text-main);
  cursor: pointer;
}

.mobile-menu-icon {
  display: block;
  width: 1.5rem;
  height: 0.2rem;
  background-color: var(--text-main);
  position: relative;
}

.mobile-menu-icon::before,
.mobile-menu-icon::after {
  content: '';
  display: block;
  width: 1.5rem;
  height: 0.2rem;
  background-color: var(--text-main);
  position: absolute;
  left: 0;
}

.mobile-menu-icon::before {
  top: -0.5rem;
}

.mobile-menu-icon::after {
  top: 0.5rem;
}

.header-expanded {
  height: 150px; /* ou qualquer valor desejado */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Media Queries */
@media (max-width: 768px) {
  .main-navigation {
    display: none;
  }

  .mobile-menu-toggle {
    display: block;
  }
}
