@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --background-main: #f9f9f9;
  --background-header-footer: #1a2238;
  --background-top-header: #ff6347;
  --background-top-header: #FEC04F;
  --text-main: #333333;
  --link-main: #ff6347;
  --link-hover: #ff4500;
  --dropdown-background: #ffffff;
  --dropdown-text: #333333;
  --dropdown-hover: #ff4500;
  --font-main: 'Roboto', sans-serif;
  --background-primary-footer: #1a2238;
  --text-primary-footer: #ffffff;
  --background-secondary-footer: #ff6347;
  --background-secondary-footer: #FEC04F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-main);
  color: var(--text-main);
  font-family: var(--font-main);
  height: 100vh; /* Garanta que o body tenha 100% da altura da viewport */
}

#root {
  height: 100%; /* Garanta que o root preencha 100% da altura da viewport */
}

.content {
  min-height: 100vh; /* Garanta que o content preencha 100% da altura da viewport */
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* Garanta que o main expanda para preencher o espaço disponível */
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-main);
  margin: 0;
  padding: 0;
}

a {
  color: var(--link-main);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
}

footer {
  text-align: center;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Estilos para a barra de busca e resultados */
.search-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  transition: height 0.3s ease;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 0 auto;
  text-align: left;
}

.result-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  width: 100%;
}
