@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --background-main: #F4F4F4;
  --background-header-footer: #0A1E5C;
  --background-top-header: #091743;
  --accent-color: #FEC04F;
  --secondary-accent-color: #CACACA;
  --text-main: #333333;
  --link-main: #333333;
  --link-hover: #FEC04F;
  --dropdown-background: #F4F4F4;
  --dropdown-text: #0A1E5C;
  --dropdown-hover: #FEC04F;
  --background-primary-footer: #0A1E5C;
  --text-primary-footer: #F4F4F4;
  --background-secondary-footer: #1C1C1C;
  --text-secondary-footer: #F4F4F4;
  --font-main: 'Roboto', sans-serif;
  --font-size-h1: 3rem;
  --font-size-h2: 2.5rem;
  --font-size-h3: 2rem;
  --font-size-p: 1rem;
  --header-height: 115px; /* Header (80px) + Top-Header (35px) */
}

body {
  font-family: var(--font-main);
  color: var(--text-main);
  background-color: var(--background-main);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

p {
  font-size: var(--font-size-p);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.full-width {
  width: 100%;
  padding: 0;
  margin: 0;
}
